/**************
Project: Final Projectg, FEWD-DC-17, General Assembly
Author: Terrie Young
**************/

/*************
*  Utility
**************/

/* Clear Class */
.clear{
	overflow: auto;
}

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	cursor: default;
}

h1 {
	font-size: 2.5rem;
	line-height: 1;
}
h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	margin: 0% 0% 2% 0%;
}
h3 {
	font-size: 1.25rem;
	font-weight: 700;
}
p {
	margin: 0 0 1.5rem 0;
}

p span {
	font-weight: 900;
}

.wrapper {
	max-width: 80%;
	margin: auto;
}

.button {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.5rem;
	background: #FFF176;
	color: black;
	display: block;
	letter-spacing: .1rem;
	text-align: center;
	padding: 1.2rem;
	box-shadow: inset 0 .3% 0 rgba(0,0,0,.2);
	border-radius: 10rem;
}
/***********
Header
************/

#page-header {
	background: #1B5E20;
	color: white;
	overflow: hidden;
	border-bottom: 6px solid #4A148C;
	height: 7rem;
	width: auto;
	padding: 0 3%;
}

#page-header a {
	color: inherit;
	text-decoration: none;
}
#page-header h1 {
	float: left;
	color: #FFF176;
	font-size: 3rem;
}
#page-header nav {
	font-size: 1.25rem;
	float: right;
}
#page-header nav li {
	float: left;
}
#page-header nav a {
	display: block;
	padding: 30px 15px;
}
#page-header nav li a:hover {
	color: #FFF176;
}

/*****************
Banner and Welcome
*****************/

.banner {
	background: url(../images/random_island_photo.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 40px 40px;
}
.blurb h2 {
	font-size: 2.5rem;
}
.blurb p {
	font-size: 1.5rem;
}
.blurb {
	background: rgba(255,255,255,.8);
	width: 34%;
	margin: 0px 0px 20px 0px;
	padding: 4%;
	float: right;
	box-shadow: 0 0 5px rgba(0,0,0,.75);
}

/***************
Jewelry and Books Sections
****************/

.touts {
	background: #FFF59D;
	overflow: hidden;
	width: auto;
	padding: 5% 2% 3% 2%;
}
.tout1 {
	float: left;
	width: 44%;
	padding: 0% 2% 2% 2%;
	margin-right: 30px;
}
.tout1 img {
	width: 100%;
	margin: 5% 0%;
}
.tout1 .button {
	background: #4A148C;
	color: white;
}
.tout2 {
	float: left;
	width: 44%;
	padding: 0% 2% 2% 2%;
}
.tout2 img {
	width: 100%;
	margin: 5% 0;
	margin-right: 30px;
}
.tout2 .button {
	background: #1B5E20;
	color: white;
}
.fadein { 
	position: relative; 
	width:500px; 
	height:425px;
}
.fadein img { 
	position:absolute; 
	left:0; top:0; 
}

.fadein2 { 
	position: relative; 
	width:auto; 
	height:425px;
}
.fadein2 img { 
	position:absolute; 
	left:0; top:0; 
}

/**********
Services Section
**********/

.services {
	clear: both;
	margin: 5% 15% 5% 15%;
}
.services1 {
	float: left;
	margin-right: 10%;
	margin-bottom: 10%;;
	width: auto;
}
.services1 img {
	float: left;
	padding-top: 20px;
}
.services2 {
	float: left;
	margin-right: 10%;
	margin-bottom: 10%;;
	width: auto;
}
.services2 img {
	float: left;
	padding-top: 20px;
}
.services3 {
	float: left;
	margin-right: 1%;
	margin-bottom: 10%;;
	width: auto;
}
.services3 img {
	float: left;
	padding-top: 20px;
}
.servicesButton {
	clear: both;
	font-family: 'Oswald', sans-serif;
	
	font-weight: 700;
	font-size: 1.5em;
	width: 300px;
	color: black;
	display: block;
	text-align: right;
	margin: 5% 0% 5% 60%;
}

/*****************
Favorite Charities
****************/

.charities {
	clear: both;
	margin: 50px 20px 50px 0px;
}
.charities1 img {
	float: left;
	padding-right: 20px;
	margin: 0px 30px 0px 0px;
}
.charities2 img {
	float: left;
	margin-right: 40px;
}
.charities3 img {
	float: left;
	padding-right: 20px;
	margin-bottom: 30px;
}

/*******************
Contact Form
*********************/

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 600px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 100px;
    text-align: right;
}
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 475px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 10em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}
.contactForm {
	clear: both;
	background: #CE93D8;
	padding: 30px 30px;
	font-size: 1.25em;
	margin-top: 30px;
}
button {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
    margin-left: .5em;
    border: 0px;
    background: none;
}
.formButton {
	clear: both;
	font-family: 'Oswald', sans-serif;
	width: auto;
	background: #FFF176;
	color: black;
	display: block;
	text-align: center;
	padding: 12px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 10rem;
}

/**************
Go To Top of Page
***********/
.goTop {

	}


/*************
Footer Section
***************/


footer {
	clear: both;
}
.copyright {
	text-decoration: none;
	color: white;
}
.bottomPage {
	background-color: #1B5E20;
	border-top: 6px solid #4A148C;
	height: 70px;	
	text-align: center;
	color: white;
	padding: 20px 0px;
}
.email {
	font-size: 1.5em;
}
.email a {
	color: white;
	text-decoration: none;
}
.email a:hover {
	color: #FFF176;
}

/************
responsive
***********/

@media screen and (max-width: 700px) {

#hamburger {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
 }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 60%;
  background: white;
  opacity: 1;
  left: 50%;
  margin-top: 29%;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2) {
  top: 8px;
}

#hamburger span:nth-child(3) {
  top: 16px;
}

}