/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Base Styles */
body{
	color: #333;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

/* Layout */

header{
	background: red;
	padding: 10px;
}

article{
	background: yellow;
	padding: 10px;
}

aside{
	background: green;
	padding: 10px;
}

footer{
	background: blue;
	padding: 10px;
}

.placeholder{
	border: 1px solid #333;
	background: rgba(255,255,255,.6);
	height: 150px;
	padding: 20px;
}





