/*****************
Utility Classes
*********/

html {
 box-sizing: border-box;
}
​*, *​:before, *:after {
 box-sizing: inherit;
}

/******
Base Styles
*******/

body {
	margin: 20px;
	font-family: helvetica, arial, sans-serif;
	font-size: 25px;
	line-height: 1.5;
}

/*********
Messages
**********/

#notification {
	background: yellow;
	border: 2px solid black;
	padding: 5px 10px;
}
.message {
	background: #CCC;
	border: solid 2px gray;
	padding: 5px 10px;
	font-size: 15px;
}
.error {
	background: red;
}

.success {
	background: green;
}