* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body{
	font-family: lato, sans-serif;
	font-size: 14px;
	background: url(../img/city-lights.jpg) center center no-repeat;
	background-size: cover;
}

h1,
h2{
	font-weight: 900;
	font-size: 5em;
	line-height: .9;
	color: #fff;
	text-transform: uppercase;
	width: 4em;
	margin: 0;
}

header{
	position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
	width: 9em;
	height: 8em;
	position: absolute;
	background: #fff;
	text-align: center;
}

.logo img{
	padding-top: .5em;
}

li{
	float: left;
	margin-right: 2em;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
}

nav a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
}
nav a:hover{
	text-decoration: underline;
}

.big-box{
	position: relative;
	padding: 20px;
    width: 26em;
    height: 26em;
    background: rgba(66, 163, 182, 0.8);
}
.top-box{
	left: 9em; 
	top: 0;
}
.bottom-box{
	float: right;
	right: 12.75em;
	top: -24em;
}
.big-box p{
	font-size: 1.2em;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.2;
	width: 17em;
}
.small-box{
	position: absolute;
	left: 0;
	width: 12em;
	height: 12em;
	background:rgba(136, 128, 177, 0.6);
}
.box1 {
	position: absolute;
	top: 14em;
	left: 60.9em;
}
.box2 {
	position: relative;
	left: 35em;
}
.box3 {
	position: relative;
	left: 5em;
	bottom: 0;
}
