body {
	border-top: solid 5px black;
	border-bottom: solid 5px black;
	padding: 30px;
	margin: 30px;
}
h1 {
	font-family: sans-serif;
	font-size: 28px;
	font-weight: bold;
}
h2 {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
}
h3 {
	font-family: sans-serif;
	font-size: 14px;
	font-variant: 2px;
}
p {
	padding-bottom: 10px;
	padding-top: 10px;
}
img {
	padding: 10px;
}
hr {
	margin-top: 30px; 
	margin-bottom: 30px
}
nav {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 0px;
}
nav span {
	font-style: italic;
}
li span {
	font-size: 14px;
	font-family: sans-serif;
	font-style: italic;
	font-style: bold;
}
a:link {
	padding-right: 5px;
	padding-left: 5px;
}
