/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  max-width: 960px;
  margin: auto;
}

header {
  background-color: #F9C1AC;
  padding: 2%;
}

header .mobile-nav {
  display: none;
}

header li {
  float: left;
  width: 15%;
  margin-right: 1%;
}

header a {
   background-color: #FC6837;
   height: 40px;
   padding: 2%;
   display: block;
}

.hero {
 width: 100%;
 background: #8DFD75;
 height: 250px;
 margin-top: 1%;
}

.featureBackground {
  background: green;
  padding: 2%;
  border: 3px solid black;
}

.halfWidth {
  width: 50%;
}

.touts {
  margin: 1% 0;
}

.tout {
  background-color: #72DFFD;
  width: 24%;
  margin-right: 1.3%;
  height: 150px;
  float: left;
}

.tout:last-child {
  margin-right: 0;
}

footer {
  background-color: #DDC2FA;
  padding: 2%;
}

.promo {
  background-color: #9944FB; 
  width: 32%;
  height: 150px;
  margin-right: 1.3%;
  float: left;
}

.promo:last-child {
  margin-right: 0;
}


/******************************************
/* ADDITIONAL STYLES

.promo:first-child {}

.promo:nth-child(10) {}

/*******************************************/




/***********
/*MOBILE 
*********/

@media screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    background: yellow;
  }
}

@media screen and (max-width: 550px) {
  .tout {
    display: none;
  }

  .tout:first-child {
    display: block;
  }
}


@media only screen and (max-width: 767px) and (min-width: 640px) {

  header ul {
    display: none;
  }

  header .btn {
    float: right;
    background-color: #FC6837;
    width: 10%;
    text-transform: uppercase;
    padding: 2%;
    display: block;
    text-align: center;
  }

  .tout {
    float: none;
    width: 100%;
    margin-bottom: 1%;

  }

  .tout:last-child {
    display: none;
  }

  .promo {
    float: none;
    width: 100%;
    margin-bottom: 1%;
  }

}


